/app.exe
/build
/.vscode
/build
/build/Debug
/build/Debug/app.o
/build/Debug/outDebug.exe
/build
/output
/output/app.exe
/test.py
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/test.js
/test.sh
/tempCodeRunnerFile.py
/test.bash
/output
/output/app.exe
/test.zig
/output
/output/app.exe
/test.c
/output/test.exe
/.gitignore